@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Edu+QLD+Beginner:wght@400;500;600&family=IBM+Plex+Sans&family=Inter:wght@100;200;300;400;500;600&family=Lobster&display=swap');
header {
    display: flex;
    justify-content: space-between;
    font-family: inter;
    background-color: #9370DB;
}
header:hover {
    background-color: #a582ec;
    transition-delay: 0.2s;
    transition: 1s;
    cursor: pointer;
}
.logo {
    height: 24px;
    width: 212px;
    font-size: 23px;
    color: white;
    padding-left: 117px;
    cursor: pointer;
}
.menu {
    display: flex;
    padding-right: 117px;
    gap: 20px;
    font-size: 15px;
    font-family: inter;
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
nav:hover {
    transform: scale(1.1);
    transition: 0.3s;
}



div {
    width: 1300px;
    display: flex;
}

.cards {

    display: flex;
    width: 250px;
    padding-top: 30px;
    flex-wrap: wrap;
    flex-direction: column;
}
img {
    width: 190px;
    height: 140px;
    left: 52px;
}
img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}


h4 {
    height: 20px;
    width: 70px;
    color: white;
    background-color: #9370DB; 
 }
 
ul{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    padding-left: 60px;
    justify-content: space-around;
}

button {

    display: flex;
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 12px;
    justify-content: center;
    text-decoration: none; 
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #9370DB;
    border-radius: 4px;
}


button:hover {
    background-color: #a582ec;
    transition-delay: 0.2s;
    transition: 1s;
}

fieldset { 
    border-style: none;
    padding-top: 30px;
}
.formulario {
    display: flex;
    height: 31px;
    width: 246px;
    
}

.aside_carrinho {
    width: 100%;
    display: flex;
    padding-right: 15px;
    flex-direction: column;
}


.aside_itens {
    display: flex;
    height: 329px;
    width: 345px;
    overflow-y: scroll;
    flex-direction: column;
    border: 4px solid #a582ec;
    border-radius: 1%;

    background-color: aqua;
} 

.item_img {
    height: 67px;
    width: 88px;
}


.botao_do_carrinho {
    display: flex;
    display: inline-block;
    height: 50px;
    width: 347px;
    left: 1138px;
    top: 202px;
    background-color: #9370DB;
    border-radius: 6%;
    border-style: none;
    justify-content: center;
}
.botao_do_carrinho:hover {
    background-color: #a582ec;
    transition-delay: 0.2s;
    transition: 1s;
}
.botao_comprar_do_carrinho {
    
    font-size: 18px;
    color: white;
}

.quantidade_dos_produtos {  
    display: flex;
    height: 80px;
    width: 314px;
    padding-right: 30px;
    padding-left: 10px;
    color: white;
    justify-content: space-between;
    background-color: #9370DB;
    cursor: pointer;
    border-radius: 2px;
}

.total_do_produto {
    display: flex;
    height: 80px;
    width: 314px;
    padding-right: 30px;
    padding-left: 10px;
    justify-content: space-between;
    cursor: pointer;
    background-color: #9370DB;
    color: white;
}
.quantidade_dos_produtos:hover {
    background-color: #a582ec;
    transition-delay: 0.2s;
    transition: 1s;
}
.total_do_produto:hover {
    background-color: #a582ec;
    transition-delay: 0.2s;
    transition: 1s;
}
